.t-container{
    overflow: hidden;
    position: relative;
}
.t-card{
    border-radius: 10px;
    width: 100%;
    margin: auto;
    transition: all 300ms ease-in;
}

.t-card>img{
    width: 100%;
}
.t-card:hover{
    scale: 1.025;
    cursor: pointer;
}
.t-button button{
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0.3rem 0.6rem;
    color: blue;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
.t-button>:nth-child(1){
    position:absolute;
    background-color: #EEEEFF;
    top: 44%;
    left: 0.5rem;
    z-index: 1;
    opacity: 0.5;
}
.t-button>:nth-child(2){
    background-color: #EEEEFF;
    position:absolute;
    top: 44%;
    right: 0.5rem;
    z-index: 1;
    opacity: 0.5;
}
@media (max-width: 480px){
    .mostBookedServices-wrapper{
        margin: 1rem;
    }
}
/* .swiper-horizontal{
    overflow: visible;
} */