.bp-imageSlide{
    display: flex;
    width: 25vh;
    height: 20vh;
    border-radius: 30px;
    margin: 1rem;
}
.Image{
    cursor: pointer;
    display: flex;
    background-color: white;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    gap: 1rem;
    justify-content: space-between;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;  */
    /* max-width: 22rem;
    margin: 2rem auto;
    line-height: var(--lh); */
}
.bp-text{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-evenly;
}
.bp-heading-date{
    display: flex;
    flex-direction: column;
}
.bp-container{
    background-color: rgb(244, 244, 244);
    display: flex;
    flex-direction: column;
}
.bp-wrapper{
    background-color: rgb(244, 244, 244);
}
.bp-heading{
    font-size: 1.3rem;
    font-weight: 600;
}
.bp-date{
    font-size: 1.1rem;
    font-weight: 600;
    color: rgb(139, 139, 139);
}
.bp-some-text{
    --max-lines: 3;
    position: relative;
    max-height: calc(var(--lh) * var(--max-lines));
    overflow: hidden;
}
.ReadMore{
    display: flex;
    align-self: flex-end;
    font-weight: 700;
    color: blue;
}
.ReadMore:hover{
    color: rgb(126, 126, 255);
}
  :root {
    --lh: 1.4rem;
  }
  /* mouse over link */
  a:hover {
    color: black;
    
  }
