.about-wrapper{
    position: relative;
    margin: 3rem;
}
.about-container{
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4rem;
}
.desc{
    display: flex;
    padding-bottom: 0.3rem;
    padding-left: 0.2rem;
}
.description{
    padding-top: 1rem;
}
.aboutImageSlide{
    width: 48vh;
}
.aboutRight{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
}
.aboutTextTitle{
    font-size: 2.5rem;
    font-weight: 500;

}
.descText{
    font-size: 1.3rem;
}
.descIcons{
    font-size: 1.3rem;
    padding-top: 0.15rem;
    padding-right: 0.1rem;
}
.forService{
    padding-top: 9vh;
    font-size: 1.3rem;
    font-weight: 600;
}
.serviceButton{
    display: flex;
    align-items: center;
}
.serviceButton p{
    padding: 1rem 2rem;
    background-color: black;
    color: beige;
    font-weight: 500;
}
@media (max-width:480px) {
    .about-wrapper{
        margin: 2rem
    }
}
@media (max-width:1024px) {
    .about-wrapper{
        margin: 0
    }
    .about-container{
        flex-direction: column;
        align-items: center;
    }
    .aboutImageSlide{
        width: 100%;
    }
    .aboutTextTitle{
        font-size: 2.5rem;
        font-weight: 500;
    
    }
}
@media (max-width:768px) {
    .aboutTextTitle{
        font-size: 2rem;
        font-weight: 500;
    
    }
    .descText{
        font-size: 1.3rem;
    }
    .descIcons{
        font-size: 1.3rem;
    }
    .forService{
        font-size: 1.3rem;
    }
}
@media (max-width:591px) {
    .aboutTextTitle{
        font-size: 1.5rem;
        font-weight: 500;
    
    }
    .descText{
        font-size: 1rem;
    }
    .descIcons{
        font-size: 1rem;
    }
    .forService{
        font-size: 1rem;
    }
    .serviceButton p{
        padding: 0.8rem 1rem;
        font-size: 1rem;
    }
}
@media (max-width:375px) {
    .aboutTextTitle{
        font-size: 1.3rem;
        font-weight: 500;
    
    }
    .descText{
        font-size: 0.8rem;
    }
    .descIcons{
        font-size: 0.8rem;
    }
    .forService{
        font-size: 0.8rem;
    }
    .serviceButton p{
        padding: 0.5rem 0.8rem;
        font-size: 0.8rem;
    }

}
