.quickHomeRepairs-container{
    overflow: hidden;
    position: relative;
}
.quickHomeRepairs-head{
    margin-bottom: 2rem;
}
.quickHomeRepairs-card .secondaryText{
    color: black;
    font-size: 1rem;
    font-weight: 500;
    
}
.quickHomeRepairs-card{
    flex-direction: column;
}
.quickHomeRepair-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: start;
    gap: 0.4rem;
}
.quickHomeRepair-text .serviceName{
    font-size: 1.2rem;
    font-weight:600;
}
.quickHomeRepair-text :nth-child(2){
    gap: 0.3rem;
}
.imageDiv>img{
    width: 100%;
}
.imageDiv{
    overflow: hidden;
    width: 100%;
}
.imageDiv img:hover{
    scale: 1.05;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}
.quickHomeRepairs-button button{
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0.3rem 0.6rem;
    color: blue;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
.quickHomeRepairs-wrapper .swiper-slide {
    overflow: hidden;
    border: none;
}
.quickHomeRepairs-button>:nth-child(1){
    position:absolute;
    background-color: #EEEEFF;
    top: 44%;
    left: 0.5rem;
    z-index: 1;
    opacity: 0.5;
}
.rating{
    padding-top: 0.3rem;
}
.totalRating{
    padding-top: 0.2rem;
}
.price{
    padding-top:0.2rem ;
}
.quickHomeRepairs-button>:nth-child(2){
    background-color: #EEEEFF;
    position:absolute;
    top: 44%;
    right: 0.5rem;
    z-index: 1;
    opacity: 0.5;
}
@media (max-width: 640px){
    .quickHomeRepairs-head{
        align-items: center;
    }
    .quickHomeRepairs-button{
        position: initial;
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 480px){
    .quickHomeRepairs-wrapper{
        margin: 2rem;
    }
}